---
layout: default
---

<header id="controls">
  <span>
    <a href="#" class="toggle">
      <b></b>
      <b></b>
      <b></b>
    </a>
  </span>

  <span>
    <a href="/" class="logo"></a>
  </span>
</header>

<aside id="menu">
  <nav>
    <a href="/" class="active">Start</a>
    <a href="/">Guide</a>
    <a href="/">API</a>
    <a href="/">Contribute</a>
    <a href="/">Bakery</a>
  </nav>
</aside>

<article id="content">
  <h1 class="title">Guide &rsaquo; {{page.title}}</h1>

  {{content}}
</article>
