---
layout: default
---

<header id="controls">
  <section>
    <a href="/" class="logo"></a>
  </section>

  <section>
    <span class="toggle">
      <b></b>
      <b></b>
      <b></b>
    </a>
  </section>
</header>

<aside id="menu">
  <ul>
    <li>
      <a href="/" class="active">Start</a>
    </li>

    <li>
      <a href="/">Guide</a>
    </li>

    <li>
      <a href="/">API</a>
    </li>

    <li>
      <a href="/">Contribute</a>
    </li>

    <li>
      <a href="/">Bakery</a>
    </li>
  </ul>
</aside>

<article id="content">
  <h1 class="title">Guide &rsaquo; {{page.title}}</h1>

  {{content}}
</article>
