---
layout: default
---

<header id="controls">
  <div class="inner">
    <section>
      <a href="/" class="logo"></a>
    </section>

    <section>
      <span class="toggle">
        <b></b>
        <b></b>
        <b></b>
      </a>
    </section>
  </div>
</header>

<aside id="menu">
  <aside>
    <a href="#" class="logo"></a>
  </aside>

  <ul>
    {% for node in site.pages %}
      {% assign current = nil %}

      {% if node.url == '/' %}
        {% if page.url == node.url %}
          {% assign current = "active" %}
        {% endif %}
      {% else %}
        {% if page.url == node.url or page.url contains node.url %}
          {% assign current = "active" %}
        {% endif %}
      {% endif %}

      {% unless node.url contains ".html" or node.url contains "assets" %}
        <li>
          <a href="{{node.url}}" class="{{current}}">{{node.title}}</a>
        </li>
      {% endunless%}
    {% endfor %}

    <li>
      <a href="https://github.com/muffinjs" target="_blank">Contribute</a>
    </li>
    <li>
      <a href="https://bakery.muffin.cafe" target="_blank">News</a>
    </li>
  </ul>

  <span>Made by <a href="http://leo.im" target="_blank">Leo</a></span>
</aside>

<main id="content">
  <aside>
    <h1 class="title">
      {% assign crumbs = site.pages | sort: "level"  %}

      {% for node in crumbs %}
        {% assign slug = node.path | replace: ".md", "" | replace: ".html", "" %}
        {% assign slug = slug | replace: "/index", "/" | replace: "index", "/" %}

        {% unless node.url contains "assets" or slug == "/" %}
          {% if page.url contains node.url %}
            {% if node.url == page.url %}
              {{node.title}}
            {% else %}
              <a href="{{node.url}}">{{node.title}}</a>
            {% endif %}

            {% unless node.title == page.title %}
              &rsaquo;
            {% endunless %}
          {% endif %}
        {% else %}
          {% if node.url == page.url %}
            {{node.title}}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </h1>
  </aside>

  <article>
    {{content}}
  </article>
</main>
